<header>
  <br><br><br>
  <h1>Disfraces Rick & Morty</h1>
  <nav class="menu">
    <ul class="menu">
      <a href="#hombre" data-icon="&#xf2bb;">
        <li class="disfDeHombre">Disfraces de Hombre</li>
      </a>
      <a href="#mujer">
        <li class="disfDeMujer">Disfraces de Mujer</li>
      </a>
      <a href="#nosotros">
        <li class="nosotros">Sobre Nosotros</li>
      </a>
      <a href="#contacto">
        <li class="contacto">Contacto</li>
      </a>
    </ul>
  </nav>
</header>
<main>
  <br><br><br><br>

  <h1 id="disfraces-hombre" class="transition" style="transition: transform 0.5s ease-in-out;">Disfraces de Hombre:</h1>
  <section>
    <div class="charactersContainer">
      <img class="control prev" src="../assets/images/img1.png" alt="">
      <div class="slider">
        <div *ngFor="let character of maleCharacters" class="character-item">
          <h3>{{ limitString(character.name,16) }}</h3>
          <p>{{ character.species }}</p>
          <img class="imagenes" [src]="character.image" alt="{{ character.image }} image">
        </div>
      </div>
      <img class="control next" src="../assets/images/img2.png" alt="">
    </div>
  </section>
  <br><br>

  <h1 id="disfraces-mujer" class="transition2" style="transition: transform 0.5s ease-in-out;">Disfraces de Mujer:</h1>
  <section>
    <div class="charactersContainer">
      <img class="control prev2" src="../assets/images/img1.png" alt="">
      <div class="slider2">
        <div *ngFor="let character of femaleCharacters" class="character-item">
          <h3>{{ limitString(character.name,16) }}</h3>
          <p>{{ character.species }}</p>
          <img class="imagenes" [src]="character.image" alt="{{ character.image }} image">
        </div>
      </div>
      <img class="control next2" src="../assets/images/img2.png" alt="">
    </div>
  </section>

  <section class="sobreNosotros">
    <h1 id="sobre-nosotros" class="transition3" style="transition: transform 0.5s ease-in-out;">Sobre Nosotros</h1>
    <p>Bienvenidos a nuestra página web de alquiler de disfraces de Rick & Morty,
      donde traemos el universo del show de televisión más salvaje y caótico directamente a tu fiesta o evento.
      Somos una empresa dedicada a proporcionar la mejor selección de disfraces
      de la serie animada de ciencia ficción de Adult Swim.</p>

    <p>En nuestra página web, encontrarás una gran variedad de disfraces para elegir,
      desde los clásicos trajes de Rick y Morty,
      hasta los disfraces de los personajes secundarios como Summer, Beth, Jerry,
      incluso disfraces de los alienígenas y las criaturas de otros mundos.</p>

    <p> Nos enorgullece ofrecer la mejor calidad en nuestros disfraces, todos ellos cuidadosamente seleccionados y
      elaborados con materiales de alta calidad para garantizar una experiencia de uso cómoda y duradera. Además,
      actualizamos constantemente nuestro catálogo de disfraces para mantenernos al día con las últimas tendencias de la
      serie, así que siempre encontrarás lo último en nuestra página web.</p>

    <p>Nos esforzamos por ofrecer un servicio al cliente excepcional, por lo que estamos siempre disponibles para
      responder
      cualquier pregunta que puedas tener y ayudarte en el proceso de alquiler de disfraces. Sabemos que el alquiler de
      disfraces puede ser un proceso estresante, por lo que hacemos todo lo posible para que tu experiencia sea fácil y
      sin complicaciones.</p>

    <p>Finalmente, nuestro objetivo es brindarte la mejor experiencia posible al alquilar un disfraz de Rick & Morty.
      Nos
      encanta la serie tanto como tú, por lo que nos aseguramos de que cada disfraz que ofrecemos sea lo más fiel
      posible
      a la serie. Así que si estás buscando darle a tu evento un toque único y divertido, no dudes en visitar nuestra
      página web y alquilar uno de nuestros increíbles disfraces de Rick & Morty.</p>
  </section>


  <section class="contacto">
    <h1 id="contacto" class="transition4" style="transition: transform 0.5s ease-in-out;">Contactanos!</h1>
    <p>¡Gracias por visitar nuestra tienda de disfraces de Rick & Morty! Si estás interesado en alquilar nuestros
      disfraces, por favor comunícate con nosotros a través de WhatsApp:<br><br>

      +XX XXX XXX XXXX</p>
  </section>


  <div class="jerry"><img src="./assets/images/jerry.png" alt="Jerry"> </div>
  <div class="rickymorty"><img src="./assets/images/rickymorty.png" alt="rickymorty"> </div>

  <div class="contenedor-animaciones">
    <div class="cohete" id="idCohete"><img src="./assets/images/cohete.png" alt="cohete"> </div>
    <div class="rickA"><img src="./assets/images/rickAnimacion.png" alt="rickA"> </div>
    <div class="pepinoA"><img src="./assets/images/pepinoAnimacion.png" alt="pepinoA"> </div>
    <div class="pistolaA"><img src="./assets/images/pistolaAnimacion.png" alt="pistolaA"> </div>
    <div class="cohete2" id="idCohete"><img src="./assets/images/cohete.png" alt="cohete"> </div>
    <div class="rickA2"><img src="./assets/images/rickAnimacion.png" alt="rickA"> </div>
    <div class="pepinoA2"><img src="./assets/images/pepinoAnimacion.png" alt="pepinoA"> </div>
    <div class="pistolaA2"><img src="./assets/images/pistolaAnimacion.png" alt="pistolaA"> </div>
  </div>
</main>
<footer>
  <p>Santiago Garreta</p>
</footer>

<script src="../assets/scripts.js"></script>
<router-outlet></router-outlet>